@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--fg-color: rgb(5, 5, 5);
	--bg-color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg-color: whitesmoke;
		--bg-color: rgb(5, 5, 5);
	}
}

html,
body,
main {
	width: 100%;
	height: 100%;
	height: -webkit-fill-available;
	color: var(--fg-color);
	background-color: var(--bg-color);
}

/*******************************************************/
/********************** scrollbar **********************/

/* FireFox */
@-moz-document url-prefix() {
	* {
		scrollbar-width: thin;
		scrollbar-color: grey var(--bg-color);
	}
}

::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-track {
	background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
	background: grey;
}

/********************** scrollbar **********************/
/*******************************************************/

@layer utilities {
	.content-wrap {
		@apply py-16;
	}

	.full {
		@apply inset-0 w-full h-full;
	}

	.t-a-3-ease-out {
		@apply transition-all duration-300 ease-out;
	}

	.tracking {
		@apply tracking-[.125em] hover:tracking-[.2em];
	}

	.navbar-link {
		@apply text-[var(--fg-color)] t-a-3-ease-out hover:tracking-[.25em];
	}

	.hover-invert {
		@apply hover:bg-[var(--fg-color)] hover:text-[var(--bg-color)];
	}
}
